{% extends 'base.html.twig' %}

{% block title 'Notifications' %}

{% block body %}
    <div class="container">
        <form class="my-3" action="{{ path('app_admin_notifications_delete_all') }}" style="display: block" method="POST" onsubmit="return confirm('Are you sure you wanna delete all the notifications ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('app_notifications_delete') }}">
            <button type="submit" class="btn btn-sm btn-outline-danger">
                <i class="fa fa-trash-alt"></i>
                Delete All Notifications
            </button>
        </form>
        {% if todayNotifications | length > 0 %}
            <div class="t-notifications">
                <h2 class="mt-4">Today</h2>
                <table class="table">
                    <tbody>
                    {% for notification in todayNotifications %}
                        <tr>
                            <td>
                                <span class="not-time">{{ notification.createdAt | date('H:i a') }}</span>
                                <br>
                                <p style="display: inline">{{ notification.description }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-danger text-center">
                No new Notifications
            </div>
        {% endif %}
        {% if previousNotifications | length > 0 %}
            <div class="p-notifications">
                <h2 class="mt-4">Previous</h2>
                <table class="table">
                    <tbody>
                    {% for notification in previousNotifications %}
                        <tr>
                            <td>
                                <span class="not-time">{{ notification.createdAt | date('H:i a') }}</span>
                                <br>
                                <p style="display: inline">{{ notification.description }}</p>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ include('interaction/_notification.html.twig') }}
{% endblock %}