{% extends 'base.html.twig' %}

{% block title post.slug | capitalize %}

{% block body %}
    <style>
        .c-n-article {
            color: #fe4f4f;
            font-weight: 800;
        }

        .cat-list {
            margin: 0;
            padding: 0;
        }

        .c-link-preview {
            list-style: none;
            display: inline-flex;
            background-color: #f4f4f4;
            margin-right: 10px;
            margin-bottom: 4px;
            padding: 2px 5px;
            font-size: 15px;
            border-bottom: 1px solid #d9d9d9;
            border-radius: 5px;
            color: #747474;
            transition: background-color .2s ease-in-out, border-bottom-color .2s;
        }

        .c-link-preview:hover {
            background-color: white;
            border-color: #fe4f4f2e;
        }

        .r-post-link-t {
            font-size: 17px;
            margin-top: 0;
        }
    </style>
   <div class="container">
       <div class="row my-5">
           <div class="col-lg-9">
               <small><span class="c-n-article">{{ post.category.name }}</span> -
                   {% if app.user and post.createdAt != post.updatedAt %} Latest update {{ post.updatedAt | date('M d, Y') }} {% else %} {{ post.createdAt |  date('M d, Y') }} {% endif %}
               </small>
               <h1>{{ post.title }}</h1>
               <img src="{{ post.imageLink }}" class="img-fluid rounded" alt="">
           </div>
           <div class="col-lg-3" style="margin: 38px 0;">
                <h3 class="text-center text-muted">Related post</h3>
               <article class="art-r">
                   <a href="{{ path('app_admin_post_show', {id: relatedPost.id, slug: relatedPost.slug}) }}"><img src="{{ relatedPost.imageLink }}" class="img-fluid rounded s-i" alt=""></a>
                   <small><span class="c-n-article">{{ relatedPost.category.name }}</span> - {{ relatedPost.createdAt | date('M d, Y') }}</small>
                   <h6><a href="" class="link-c">{{ relatedPost.title }}</a></h6>
               </article>
               <div class="category-available mt-5">
                   <h5 class="text-muted">Categories</h5>
                   <ul class="cat-list">
                       {% for category in categories %}
                            <li class="c-link-preview"><a href="" class="link-c">{{ category.name }}</a></li>
                            <li class="c-link-preview"><a href="" class="link-c">{{ category.name }}</a></li>
                            <li class="c-link-preview"><a href="" class="link-c">{{ category.name }}</a></li>
                            <li class="c-link-preview"><a href="" class="link-c">{{ category.name }}</a></li>
                       {% endfor %}
                   </ul>
               </div>
               {% if previousPosts | length > 0 %}
                   <div class="pr-posts mt-5">
                       <h5 class="text-muted">Previous posts</h5>
                       {% for previousPost in previousPosts %}
                           <article>
                               <img class="rounded img-fluid" src="{{ previousPost.imageLink }}" alt="">
                               <small><span class="c-n-article">{{ previousPost.category.name }}</span> - {{ previousPost.createdAt | date('M d, Y') }}</small>
                               <h6>{{ previousPost.title }}</h6>
                           </article>
                       {% endfor %}
                   </div>
               {% endif %}
           </div>
       </div>
   </div>
{% endblock %}