{% extends 'base.html.twig' %}

{% block title post.slug | capitalize %}

{% block body %}
    {{ include('client/shared/_style.html.twig') }}
    <div class="container mt-4 rounded">
        <div class="row mt-4">
            {# START MAIN POST #}
            <div class="col-lg-8">
                <article>
                    <small class="d-flex justify-content-between align-items-center">
                        <span>
                            <span class="cat">{{ post.category.name }}</span> -
                            <span class="text-muted">{{ post.createdAt | date('M d, y') }}</span>
                        </span>
                        <span class="cat">
                            <span class="comment-count">{{ post.comments.count }}</span>
                            <i class="far fa-comment"></i>
                            <span>{{ post.likes | length }}</span>
                            <i class="far fa-thumbs-up"></i>
                            <span></span>
                            <i class="far fa-thumbs-down" style="position:relative; top: 1px;"></i>
                        </span>
                    </small>
                    <h1 class="article-title">{{ post.title }}</h1>
                    <div class="article-image">
                        <img src="{{ post.imageLink }}" class="rounded-lg w-100" alt="">
                    </div>
                    <div class="likes-post my-2">
                        {% if app.user %}
                            <a href="#" class="link-c" id="like-js-post">
                                {% if app.user and post.isLikedByUser(app.user) %}
                                    <i class="fas fa-thumbs-up"></i>
                                {% else %}
                                    <i class="far fa-thumbs-up"></i>
                                {% endif %}
                                <span id="post-likes-js-count">{{ post.likes | length }}</span>
                            </a>
                        {% else %}
                            <span class="link-c" style="cursor: not-allowed" title="You need to log in">
                                <i class="far fa-thumbs-up"></i>
                                <span id="post-likes-js-count">{{ post.likes | length }}</span>
                            </span>
                        {% endif %}
                        <a href="" class="link-c">
                            <i class="far fa-thumbs-down"></i>
                            <span>10</span>
                        </a>
                    </div>
                    <section class="mt-4 description-article">
                        <h2 class="text-center">Description</h2>
                        <p>{{ post.description }}</p>
                    </section>
                </article>
                {# START COMMENT SYSTEM #}
                <h3 class="text-muted">Comments</h3>
                <div class="comments mt-3 mb-3">
                    <div id="comment-js-preview">
                    {% for comment in postComment %}
                        {% if not (comment.user.status == 'deleted' or comment.user.status == 'suspended') %}
                            <div class="comment-user-display" style="background-color: #f8f8f8; border-radius: 0.3em; padding: 10px; margin-bottom: 10px;">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <small class="fas {% if 'ROLE_ADMIN' in comment.user.roles %} fa-user-shield {% else %} fa fa-user {% endif %}"
                                               style="background-color: aliceblue; padding: 6px; height: 30px; width: 30px; border-radius: 50%;"
                                               title="{{ comment.user.fullName }}"></small>
                                        <span class="ml-2">{{ comment.user.fullName }}</span>
                                    </div>
                                    <small class="ml-2 text-muted">{{ comment.createdAt | date('M d, Y H:i a') }}</small>
                                </div>
                                <div class="d-flex justify-content-between align-items-center" style="display: inline-flex">
                                    <p class="m-0">{{ comment.content }}</p>
                                    {% if app.user and is_granted('ROLE_ADMIN') %}
                                        <form action="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}" method="POST">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete_comment') }}">
                                            <input type="hidden" name="_comment_id" value="{{ comment.id }}">
                                            <input type="submit" class="btn btn-sm btn-outline-danger" style="font-size: 12px;" value="Delete">
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                        {% else %}
                            <div id="no-comment-js">
                                <div class="text-center alert alert-danger">No comments !<br>
                                    {% if app.user %}
                                        Be first and post new comment
                                    {% endif %}
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                    {% if app.user %}
                        <form id="form-comment-js">
                            <div class="form-group">
                                <textarea rows="5" class="form-control" id="comment-in-js"></textarea>
                                <input type="hidden" value="{{ post.id }}" id="post-id-js">
                                <input type="submit" class="btn btn-block btn-outline-success mt-2" value="Comment">
                            </div>
                        </form>
                    {% else %}
                        <div class="text-center alert alert-danger">
                            You are logged anonymously <br>
                            Please <a href="{{ path('app_login') }}">login</a> to post your comment
                        </div>
                    {% endif %}
                </div>
                {# END COMMENT SYSTEM #}
                {# PREVIOUS NEXT POST SECTION #}
                <div class="pre-next-article">
                    <small class="d-flex justify-content-between">
                        {% if previousPost %}
                            <a href="{{ path('app_client_show_post', {'id': previousPost.id, 'slug': previousPost.slug}) }}" class="link-c">
                                <i class="fa fa-angle-left"></i>
                                Previous post
                            </a>
                        {% else %}
                            <span class="text-muted" style="cursor: not-allowed">
                                <i class="fa fa-angle-left"></i>
                                Previous post
                            </span>
                        {% endif %}
                        {% if nextPost %}
                            <a href="{{ path('app_client_show_post', {'id': nextPost.id, 'slug': nextPost.slug}) }}" class="link-c">
                                Next post
                                <i class="fa fa-angle-right"></i>
                            </a>
                        {% else %}
                            <span class="text-muted" style="cursor: not-allowed" title="no more post">
                                Next post
                                <i class="fa fa-angle-right"></i>
                            </span>
                        {% endif %}
                    </small>
                </div>
            </div>
            {# END PREVIOUS NEXT POST SECTION #}
            {# END MAIN POST #}
            <div class="col-lg-4 mt-5">
                {# RELATED POST #}
                <h3 class="text-muted text-center">Related post</h3>
                <article class="d-flex flex-column align-items-center">
                    <div class="article-info-section">
                        <div class="img-article-preview d-flex justify-content-between">
                            <img src="{{ relatedPost.imageLink }}" class="rounded-lg mw-100" alt="">
                        </div>
                        <div>
                            <small>
                                <span class="cat">{{ relatedPost.category.name }}</span> -
                                <span class="text-muted">{{ relatedPost.createdAt | date('M d, Y') }}</span>
                            </small>
                            <h4 style="font-size: 20px;">
                                <a class="link-c"
                                   href="{{ path('app_client_show_post', {'id': relatedPost.id, 'slug': relatedPost.slug}) }}">{{ relatedPost.title }}</a>
                            </h4>
                        </div>
                    </div>
                </article>
                {# END RELATED POST #}
                {# LIST CATEGORY #}
                <div class="mt-4">
                    <h4 class="text-muted">Categories</h4>
                    <ul class="category-nav p-0 m-0" style="list-style: none; display: flex; flex-wrap: wrap;">
                    {% for category in categories %}
                            <li class="category-item mr-2 mb-1">
                                <a class="link-c"
                                   href="{{ path('app_client_posts_category_search', {'slug': category.slug}) }}">{{ category.name }}</a>
                            </li>
                    {% endfor %}
                    </ul>
                </div>
                {# END LIST CATEGORY #}
                {# LIST MAY LIKE POSTS #}
                <div class="mt-4 y-m-liked">
                    <h4 class="text-muted">You also may like</h4>
                    {% for post in mayLikePosts %}
                        <div class="row mb-2 _width-400-sm w-300">
                            <div class="col-6">
                                <a href="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}" class="link-c">
                                    <img class="img-fluid rounded-lg" src="{{ post.imageLink }}" alt="">
                                </a>
                            </div>
                            <div class="col-6">
                                <div class="d-article-category" style="font-size: 11px">
                                    <span class="cat">{{ post.category.name }}</span><br>
                                    <span class="text-muted">{{ post.createdAt | date('M d, Y') }}</span>
                                </div>
                                <h6 class="_font-20-sm">
                                    <a class="link-c"
                                       href="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}">{{ post.title }}</a>
                                </h6>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {# END LIST MAY LIKE POSTS #}
            </div>
        </div>
    </div>
    <div class="notification-flash-js">
        <div class="not-flash alert alert-success p-2 notification-js hide-notification-js" style="position: fixed; bottom: 40px; right: 20px">
            <span id="notification-message-js"></span>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function showNotification(message) {
            $('span#notification-message-js').text(message);
            $('div.not-flash').toggleClass('hide-notification-js', 'show-notification-js');
            setTimeout(function () {
                $('div.not-flash').toggleClass('hide-notification-js', 'hide-notification-js');
            }, 2000);
        }

        $('form#form-comment-js').submit(function (event) {
            event.preventDefault();
            let commentUser = $('textarea#comment-in-js'),
                post_id = $('input#post-id-js').val(),
                urlComment = 'https://127.0.0.1:8000/comment/post'
            axios.post(urlComment, {
                commentContent: commentUser.val(),
                postId: post_id
            })
            .then(function (response) {
                commentUser.val('');
                getComments();
                showNotification('Your comment was posted with success !');
            })
            .catch(function (error) {
                console.log(error.message);
            });
        });

        function getComments()
        {
            let url = 'https://127.0.0.1:8000/comment/get';
            axios.get(url, {})
            .then(function (response) {
                let comments = response.data;
                let commentHtml = $('#comment-js-preview');
                $('div#no-comment-js').remove();
                commentHtml.html('');
                comments.forEach(function (comment) {
                    console.log(comment);
                    commentHtml.prepend(
                        `<div class="comment-user-display" style="background-color: #f8f8f8; border-radius: 0.3em; padding: 10px; margin-bottom: 10px;">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="d-flex align-items-center">
                                    <small class="fa fa-user" style="background-color: aliceblue; padding: 6px; height: 30px; width: 30px; border-radius: 50%;"
                                           title="${comment.user.fullName}"></small>
                                    <span class="ml-2">${comment.user.fullName}</span>
                                </div>
                                <small class="ml-2 text-muted">${comment.created_at}</small>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" style="display: inline-flex">
                                <p class="m-0">${comment.content}</p>
                                {% if app.user and is_granted('ROLE_ADMIN') %}
                                    <form action="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}" method="POST">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete_comment') }}">
                                        <input type="hidden" name="_comment_id" value="${comment.id}">
                                        <input type="submit" class="btn btn-sm btn-outline-danger" style="font-size: 12px;" value="Delete">
                                    </form>
                                {% endif %}
                            </div>
                        </div>`
                    );
                });
            })
            .catch(function (error) {
                console.log(error.message);
            });
        }
    </script>
    <script>

        $('a#like-js-post').mouseover(function () {
        });

        $('#like-js-post').click(function (event) {
            event.preventDefault();
            let url = 'https://127.0.0.1:8000/nisi-laborum-ut-201/like'
            axios.post(url,{}
            ).then(function (response) {
                let likeCount = response.data['likeCount'];
                $('#post-likes-js-count').text(likeCount);
                if ( response.data['message'] === '-1')
                    $('.fa-thumbs-up').toggleClass('far', 'fas');
                else
                    $('.fa-thumbs-up').toggleClass('fas', 'far');
            })
            .catch(function (error) { console.log(error.message); });
        });

    </script>

{% endblock %}