{% set defaultImage = 'https://lh3.googleusercontent.com/proxy/cuBWCjkhFHdJ5P3ASANB0msysX4FWJlBTDAzgPTad5xSbPXmnEeP6ZZlVlHadhtdOlPcJeFJnw-o-SMxGyrmfjKp_1cz0fp_K88IOu93vfHrvzsU-6szQh3NE4thDlY' %}

{% if action['action'] == 'search' %}
    <h2 class="text-center">Results for <span class="text-muted _founded-posts">"{{ action['search_var'] }}"</span></h2>
{% else %}
    <h2 class="text-center">All posts</h2>
{% endif %}
<form class="form-inline" method="POST">
    <div class="d-s-i-p form-inline my-2">
        <i class="fa fa-search text-muted"></i>
        <input type="text" id="search-in-post-js" name="_title" placeholder="Search for post" value="{{ action['search_var'] ?? '' }}">
    </div>
    <button type="submit" class="ml-2 btn btn-sm btn-success">Search</button>
</form>
{% if posts | length > 0 %}
    <div class="posts">
        <div class="row mt-4" id="posts-preview">
            {% for post in posts %}
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div style="position: relative" class="article-image">
                        <a href="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}">
                            <img alt=""
                                 class="article-img-pre img-ani rounded img-fluid mw-100"
                                 src="{{ post.imageLink ?? defaultImage }}">
                        </a>
                    </div>
                    <small>
                        <span style="color: #fe4f4f">{{ post.category.name }}</span>
                        - {{ post.createdAt | date('M, d Y') }}
                    </small>
                    <h2 class="_font-change-28 h5">
                        <a class="link-c text-decoration-none"
                           href="{{ path('app_client_show_post', {'id': post.id, 'slug': post.slug}) }}">
                            {{ post.title | u.truncate(25, '...', false) }}
                        </a>
                    </h2>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row mt-4" id="posts-results-js"></div>
{% else %}
    <div class="mt-4 alert alert-danger text-center">No posts !</div>
{% endif %}